<canvas id="gauge" width="800" height="375"></canvas>
    <script>

        var opts = {
            angle: -0.06, // The span of the gauge arc
            lineWidth: 0.21, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.51, // // Relative to gauge radius
                strokeWidth: 0.084, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, max value increases automatically if value > maxValue
            limitMin: false,     // If true, the min value of the gauge will be fixed
            colorStart: '#6FADCF',   // Colors
            colorStop: '#8FC0DA',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            percentColors: [[0.0, "#a9d70b"], [0.50, "#f9c802"], [1.0, "#ff0000"]],
            highDpiSupport: true,     // High resolution support

        };
        var target = document.getElementById('gauge'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 3000; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 33; // set animation speed (32 is default value)
        gauge.set(1800); // set actual value
    </script>
