
{% extends 'base.html'%}

{% block title %}<title>Machine13Day</title>{% endblock title %}


{% block content %}
<div class="page">
   <div class="main" style="text-align: center;">

      <!-- <h1 style="color:White;">Welcome to Test Page</h1> -->
      <!-- <h1>Welcome to Test Page</h1> -->
      <!-- {% for i in people %}

      <p>User name is : {{i.username}}</p>
      <p>Email is :{{i.email}}</p>
      <a class="btn btn-primary" href="/post-details/{{i.id}}" role="button">See More</a>
      

      {% endfor %}-->
      <!-- <h1>เลือกช่วงเวลา</h1> -->
       <div class="box">
         <div class="test2">
         <form action="{{ url_for('machine13day')}}" method="post">
            <label for="atdat">เลือกวันที่ :</label>
               
               <input type="date" id="atday" name="atday" value={{maxday}} min={{minday}} max={{maxday}}>
              
               <input type="submit">
         </form>
         </div>

         <div class="row">
            
            <!-- <div class="column" style="background-color:#aaa;"> -->
           <div class="column">
               <h2>เครื่อง 1</h2>

               <div class="column a">

                 <h3>Machine : 1</h3>

                 <!-- <img class="column img" src="/static/image/doggo.jpg"  alt="doggo"> -->
                 <img class="column img" src="/static/image/piglet.png"  alt="piglet">
                 <img class="column img" src="/static/image/pigmilk.png"  alt="pigmilk">

                 <p>PL.1 DPAS660-228 / กลุ่มหมูอ่อน,หมูนม
                  หมูปลอดยา SWD เม็ด 2.8 ทั้งหมด</p>

               </div>

               <!-- Performance -->
               <div class="column b" >
                 <h4>Performance</h4>

                   <div class="column c" >
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>

                   <div class="column c" style="background-color: rgb(49, 49, 49); opacity: 0.90;" >
                     {% for i in atday%}
                     <p>{{i.Performance}} / 19 ton/h </p>
                     {% endfor %}
                     <p>Status bar</br>>14Kwh/t </p>
                     <p>Status bar</br>Full load 420 Amp </p>
                     <p>Status bar</p>
                   </div>

               <!-- Steam -->
               </div>

               <div class="column b" >
                 <h4>Steam</h4>

                 

                 <div class="column c" >
                   <p>Steam Consumtion</p>
                   <p>Pressure</p>

                 </div>

                 <div class="column c" >
                   <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                 </div>

               </div>

               <!-- Spare Part -->
               <div class="column b" >
                 <h4>Spare Part</h4>
                 
                 

                 <div class="column cd" >
                   <p>Die Aging : </p>
                   <p>Die press </p>
                   <p>Die Repair.</p>
                 </div>

                 <div class="column cd" >
                   <p>Die Aging : </p>
                   <p>Die press </p>
                   <p>Die Repair.</p>
                 </div>

                 <div class="column d" >
                   <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                 </div>


               </div>


            </div>
            
            
             <div class="column">
               <h2>เครื่อง 2</h2>

               <div class="column a">

                 <h3>Machine : 2</h3>

                 <img class="column img" src="/static/image/pigbig.png"  alt="pigbig">
                 <img class="column img" src="/static/image/chickmeat.png"  alt="chickmeat">

                 <p>PL.2 CPM 3022-8 / กลุ่มหมู 2.8 ,กลุ่มหมูขุน 3.5,กลุ่มไก่เนื้อ 511</p>

               </div>

               <div class="column b" >
                 <h4>Performance</h4>

                   <div class="column c" >
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>

                   <div class="column c" >
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>

                 <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
               </div>

               <div class="column b" >
                 <h4>Steam</h4>

                 <div class="column c" >
                   <p>Performance Cap.</br>19 ton/h </p>
                   <p>Electrical cons TG.</br>>14Kwh/t </p>
                   <p>Motor current.</br>Full load 420 Amp </p>
                   <p>% Load </p>
                 </div>

                 <div class="column c" >
                   <p>Performance Cap.</br>19 ton/h </p>
                   <p>Electrical cons TG.</br>>14Kwh/t </p>
                   <p>Motor current.</br>Full load 420 Amp </p>
                   <p>% Load </p>
                 </div>
               </div>

               <div class="column b" >
                 <h4>Spare Part</h4>
                 
                 <div class="column c" >
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>

                   <div class="column c">
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>
               </div>


            </div>


            <!-- <div class="column" style="background-color:#ccc;"> -->
             <div class="column">
               <h2>เครื่อง 3</h2>

               <div class="column a">

                <img class="column img" src="/static/image/mixer1.png"  alt="mixer1">
                <h3>Machine : PL.3</h3>

                <img class="column img" src="/static/image/pigbig.png"  alt="pigbig">
                <img class="column img" src="/static/image/chickmeat.png"  alt="chickmeat">

                <p> DPAS660-228 / กลุ่มหมูขุน-หมูพันธุ์เม็ด 3.5,ไก่เนื้อ 511</p>

               </div>

               <div class="column b" >
                 <h4>Performance</h4>

                   <div class="column c" >
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>

                   <div class="column c">
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>

                 <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
               </div>

               <div class="column b" >
                 <h4>Steam</h4>

                 <div class="column c" >
                   <p>Performance Cap.</br>19 ton/h </p>
                   <p>Electrical cons TG.</br>>14Kwh/t </p>
                   <p>Motor current.</br>Full load 420 Amp </p>
                   <p>% Load </p>
                 </div>

                 <div class="column c">
                   <p>Performance Cap.</br>19 ton/h </p>
                   <p>Electrical cons TG.</br>>14Kwh/t </p>
                   <p>Motor current.</br>Full load 420 Amp </p>
                   <p>% Load </p>
                 </div>
               </div>

               <div class="column b" >
                 <h4>Spare Part</h4>
                 
                 <div class="column c" >
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>

                   <div class="column c">
                     <p>Performance Cap.</br>19 ton/h </p>
                     <p>Electrical cons TG.</br>>14Kwh/t </p>
                     <p>Motor current.</br>Full load 420 Amp </p>
                     <p>% Load </p>
                   </div>
               </div>


            </div>

         </div>
       </div>

   </div>
</div>
   
  

</div>
{% endblock content %}

