
{% extends 'base.html'%}

   {% block title %}<title>Machine46Day</title>{% endblock title %}


   {% block content %}
   <div class="page">
      <div class="main" style="text-align: center;">
          <div class="box">
            <div class="test2">
              <form role="form" name="formy" action="{{ url_for('machine46day')}}" method="post">
      
      
                <label for="atday">Select Date :</label>
      
                <!-- <input type="date" id="atday" onchange="_selectDate(this.value)" name="atday" value={{minday}} min={{minday}}
                  max={{maxday}}> -->
      
                <input type="date" id="atday" onchange="this.form.submit(this.value)" name="atday" value={{selectday}} min={{minday}}
                max={{maxday}}>
      
                <script>
                  function testy(e){
                    console.log(e)
                    document.getElementById("atday").submit();
                  }
                </script>
      
                <label for="formula">Select Formula :</label>
      
                <select id="formulavalue" name="formulavalue" onchange="this.form.submit(this.value)" value= "">
      
                  <option value="{{selectformula}}" > {{selectformula}} </option>
                  <option disabled >- - - - - - -</option>
                  {%for i in formula%}
      
                  <option value="{{i.FORMULA|e}}">{{i.FORMULA|e}}</option>
      
                  {% endfor %}
                </select>
      
      
      
                <label for="atday">Select Shift :</label>
                
                <select name="shiftvalue" value= "{{selectshift}}">
                  {% for s in shift %}
                  <option value="{{s.SHIFT}}">{{s.SHIFT}}</option>
                  {% endfor %}
                </select>
                <!-- <p id="shift"></p>
                      <input type="text" name="shiftvalue"/> -->
      
                <!-- <script>
                        function svselect()
                        {
                          var d = document.getElementById("shift");
                          var display = d.options[d.selectedIndex].text;
                          document.getElementById("shiftvalue").value = display;
                          document.getElementById("shiftvalue").value = document.getElementById("shift").value;
                        }
                      </script> -->
      
      
      
                <input type="submit">
      
      
                <p style="margin-bottom: 0;"> Date : {{selectday}} , Formula : {{selectformula}}, Shift : {{selectshift}}</p>
      
      
              </form>
            </div>

            <div class="row">
               
               <!-- <div class="column" style="background-color:#aaa;"> -->
              <div class="column">
                  <h2>เครื่อง 4</h2>

                  <div class="column a">
                    <h3>Machine : 4</h3>
                    <img class="column img" src="/static/image/chickegg.png"  alt="chickegg">
                    <img class="column img" src="/static/image/chick.png"  alt="chick">
                    <img class="column img" src="/static/image/chickmeat.png"  alt="chickmeat">
                  </div>

                  <!-- Performance -->
                  <div class="column b">
                    <h4>Performance</h4>
        
                    <div class="column c">
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>
        
                    <div class="column c" style="margin: 0; padding:0">
                      {% for x in test%}
                      <p style="margin: 0;">{{x.PERFORMANCE}}</p>
                      <progress max="19" value={{x.PERFORMANCE}} ></progress>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow={{x.PERFORMANCE}} aria-valuemin="0" aria-valuemax="19" style="width:50%;">
                          {{x.PERFORMANCE}}
                        </div>
                      </div>
                      <p>{{x.ECON}}</br>>14Kwh/t </p>
                      <p>{{x.MCUR}}</br>Full load 420 Amp </p>
                      <p>{{x.LOAD}}</p>
                      {% endfor %}
                    </div>
        
                    <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
                  </div>
                  
                  <!-- Steam -->
                  <div class="column b" >
                    <h4>Steam</h4>

                    

                    <div class="column c" >
                      <p>Steam Consumtion</p>
                      <p>Pressure</p>

                    </div>

                    <div class="column c" >
                      <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                    </div>

                  </div>

                  <!-- Spare Part -->
                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    

                    <div class="column cd" >
                      <p>Die Aging : </p>
                      <p>Die press </p>
                      <p>Die Repair.</p>
                    </div>

                    <div class="column cd" >
                      <p>Die Aging : </p>
                      <p>Die press </p>
                      <p>Die Repair.</p>
                    </div>

                    <div class="column d" >
                      <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                    </div>


                  </div>


               </div>
               
               
                <div class="column">
                  <h2>เครื่อง 5</h2>

                  <div class="column a">
                    <h3>Machine : 5</h3>
                    <img class="column img" src="/static/image/chickegg.png"  alt="chickegg">
                  </div>

                  <div class="column b" >
                    <h4>Performance</h4>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c">
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                    <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
                  </div>

                  <div class="column b" >
                    <h4>Steam</h4>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>

                    <div class="column c">
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>
                  </div>

                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c">
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>
                  </div>


                </div>


               <!-- <div class="column" style="background-color:#ccc;"> -->
                <div class="column">
                  <h2>เครื่อง 6</h2>

                  <div class="column a">
                    <h3>Machine : 6</h3>
                    <img class="column img" src="/static/image/pigbig.png"  alt="pigbig">
                  </div>

                  <div class="column b" >
                    <h4>Performance</h4>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c">
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                    <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
                  </div>

                  <div class="column b" >
                    <h4>Steam</h4>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>

                    <div class="column c">
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>
                  </div>

                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c">
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>
                  </div>


                </div>

            </div>
          </div>

      </div>
   </div>
      
     

  </div>
   {% endblock content %}
   
