
{% extends 'base.html'%}

{% block title %}<title>Real Time</title>{% endblock title %}


{% block content %}
    <div class="page" >

        <div class="main">
   
            <div class="box" style="height: 850px;">
       
                <div class="row">
                
                    <div class="column" style="width: 30%;" >
       
                        <form style="padding-left:10px; padding-top:10px; padding-bottom: 10px;"> 

                            <label for="motor" style="font-size: 20px;">Machine : PL.3 DPAS660-228 </label>
                        </br>
                            <label for="formula" style="font-size: 20px;">สูตร : <output name="formula"></output>{{date}}</label>
                        </br>
                            <label for="time" style="font-size: 20px;">เวลา : <output name="formula">{{time}}</output></label>
                        </br>

                            <label for="perofrmance" style="font-size: 20px;">ประสิทธิภาพ : <output name="formula">{{id}}</output></label>

                        

                        </br>
                            <label for="electcon" style="font-size: 20px;">ไฟฟ้า : {{cu}}<output name="formula"></output></label>

                        </br>
                        
                            <label for="motor" style="font-size: 20px;">Motor :<output name="formula"></output></label>
                        
                        </br>
                        
                        </form>
                
                    <div class="column" style="height: 100px; padding-left:10px; width:300px">
                        

                        <div class="grid-container" style="grid-template-columns: auto;">

                            <div>
                                <img src="/static/image/mixer1nobg.png"  alt="long" style="width:150px; height:150px; margin:10px 10px;">
                            </div>

                        </div>

                        <div class="grid-container">

                            
                            <div>
                                <h3 style="padding-top: 40px; text-align: left;"> สำหรับ :</h3>
                                <p style="padding-left: 40px;"><img src="/static/image/pigmeatpink.png"  alt="long" style="width:130px; height:100px; margin:30px 10px 30px 10px; padding-top:20px;"></br> กลุ่มหมูขุน-หมูพันธุ์เม็ด 3.5</p>
                            
                            </div>

                            <div>
                                <p style="padding-left: 40px; padding-top: 20px;"><img src="/static/image/chickenmeatyellow.png"  alt="long" style="width:100px; height:100px;margin:90px 30px 0px 10px; padding-top:20px; padding-left:20px;"></br></br> ไก่เนื้อ 511</p>

                            </div>
                        

                        </div>
                        
                    </div>
                </div>  

                    <div class="column" style="width:35%">
                        <!-- Performance -->
                        <div class="column bs" style="padding-bottom:50px;" >

                            <h4>Performance</h4>
        
                            <div class="column c" style="width: 50%;">
                                <p>Performance Cap.</br>19 ton/h </p>
                                <p>Electrical cons TG.</br>>14Kwh/t </p>
                                <p>Motor current.</br>Full load 420 Amp </p>
                                <p>% Load </p>
                            </div>
        
                            <div class="column c"  style="width: 50%;">
                                {% for i in per%}
                                <p>{{i.Performance}}</br> 19 ton/h </p>
                                {% endfor %}
                                <p>Status bar</br>>14Kwh/t </p>
                                <p>Status bar</br>Full load 420 Amp </p>
                                <p>Status bar</p>
                            </div>

                        
       
                            
                            <div class="column b" style="width: 100%;" >
                                <h4>Steam</h4>
            
                                <div class="column c" >
                                    <p>Steam Consumtion</p>
                                    <p>Pressure</p>
                                </div>
            
                                <div class="column c" >
                                    <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                                </div>
                            </div>

                            <div class="column b" style="width: 100%;" >
                                <h4>Steam</h4>
            
                                <div class="column c" >
                                    <p>Steam Consumtion</p>
                                    <p>Pressure</p>
                                </div>
            
                                <div class="column c" >
                                    <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                                </div>
                            </div>
                            

                        </div>
                        
                    </div>

                    <div class="column" style="width:35%">

                       
                        <!-- Performance -->
                        <div class="column b" style="padding-bottom:50px;" >
                            <h4>Performance</h4>
                            
        
                            <div class="column c" style="width: 150%;">
                                <p>Performance Cap.</br>19 ton/h </p>
                                <p>Electrical cons TG.</br>>14Kwh/t </p>
                                <p>Motor current.</br>Full load 420 Amp </p>
                                <p>% Load </p>
                            </div>
        
                            <div class="column c"  style="width: 50%;">
                                {% for i in per%}
                                <p>{{i.Performance}}</br> 19 ton/h </p>
                                {% endfor %}
                                <p>Status bar</br>>14Kwh/t </p>
                                <p>Status bar</br>Full load 420 Amp </p>
                                <p>Status bar</p>
                            </div>

                        
       
                            
                            <div class="column b" style="width: 100%;" >
                                <h4>Steam</h4>
            
                                <div class="column c" >
                                    <p>Steam Consumtion</p>
                                    <p>Pressure</p>
                                </div>
            
                                <div class="column c" >
                                    <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                                </div>
                            </div>
                            
                            

                        </div>
                        
                    </div>
       
                </div>

            </div>
       
        </div>

    </div>      

{% endblock content %}

