
{% extends 'base.html'%}

  {% block title %}<title>TestDay</title>{% endblock title %}


  {% block content %}
   <div class="page">
      <div class="main" style="text-align: center;">
          <div class="box">
            <div class="test2">
              <form action="{{ url_for('testday')}}" method="post">

                  <label for="formula">Select Formula :</label>

                  <select name="formulavalue">
                    {%for i in formula%}
                    
                    <option value="{{i.FORMULA|e}}">{{i.FORMULA|e}}</option>

                    {% endfor %}
                   </select>
                   
                  <!-- <input type="text" name="formulavalue"/> -->

                  <!-- <script>
                    function ddselect()
                    {
                      var d = document.getElementById("formulaselect");
                      var display = d.options[d.selectedIndex].text;
                      document.getElementById("formulavalue").value = display;
                      document.getElementById("formulavalue").value = document.getElementById("formula").value;
                    }
                  </script> -->

                <label for="atday">Select Shift :</label>
              
                <select name="shiftvalue">
                  {% for s in shift %}
                  <option value="{{s.SHIFT}}">{{s.SHIFT}}</option>
                  {% endfor %}
                </select> 
                <!-- <p id="shift"></p>
                <input type="text" name="shiftvalue"/> -->

                <!-- <script>
                  function svselect()
                  {
                    var d = document.getElementById("shift");
                    var display = d.options[d.selectedIndex].text;
                    document.getElementById("shiftvalue").value = display;
                    document.getElementById("shiftvalue").value = document.getElementById("shift").value;
                  }
                </script> -->

                <label for="atday">Select Date :</label>
                
                <input type="date" id="atday" name="atday" value={{minday}} min={{minday}} max={{maxday}}>
              
                <input type="submit">

                
                <p> S :{{performance}}</p>
                
                <p> real :</p>
                
                <!-- <input type="submit" onclick="setformula();"> -->

                <!-- <script>
                  function setformula()
                  {
                    document.getElementById("field2").value = document.getElementById("field1").value;
                  }
                </script> -->


              </form>
            </div>

            <div class="row">
               
               <!-- <div class="column" style="background-color:#aaa;"> -->
              <div class="column">
                  <h2>เครื่อง 1</h2>

                  <div class="column a">
                    <h3>Machine : 1</h3>
                    <img class="column img" src="/static/image/piglet.png"  alt="piglet">
                    <img class="column img" src="/static/image/pigmilk.png"  alt="pigmilk">
                  </div>

                  <!-- Performance -->
                  

                  <div class="column b" >
                    <h4>Steam</h4>

                    

                    <div class="column c" >
                      {% for k in peroformance%}
                      <p>Pressure {{i.PEROFRMANCE}}</p>
                      {% endfor %}
                    </div>

                    <div class="column c" >
                      <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                    </div>

                  </div>

                  <!-- Spare Part -->
                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    

                    <div class="column cd" >
                      <p>Die Aging : </p>
                      <p>Die press </p>
                      <p>Die Repair.</p>
                    </div>

                    <div class="column cd" >
                      <p>Die Aging : </p>
                      <p>Die press </p>
                      <p>Die Repair.</p>
                    </div>

                    <div class="column d" >
                      <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                    </div>


                  </div>


               </div>
               
               
                <div class="column">
                  <h2>เครื่อง 2</h2>

                  <div class="column a">
                    <h3>Machine : 2</h3>
                    <img class="column img" src="/static/image/pigbig.png"  alt="pigbig">
                    <img class="column img" src="/static/image/chickmeat.png"  alt="chickmeat">
                  </div>

                  <div class="column b" >
                    <h4>Performance</h4>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                    <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
                  </div>

                  <div class="column b" >
                    <h4>Steam</h4>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>
                  </div>

                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>
                  </div>


               </div>


               <!-- <div class="column" style="background-color:#ccc;"> -->
                <div class="column">
                  <h2>เครื่อง 3</h2>

                  <div class="column a">
                    <h3>Machine : 3</h3>
                    <img class="column img" src="/static/image/pigbig.png"  alt="pigbig">
                    <img class="column img" src="/static/image/chickmeat.png"  alt="chickmeat">
                  </div>

                  <div class="column b" >
                    <h4>Performance</h4>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                    <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
                  </div>

                  <div class="column b" >
                    <h4>Steam</h4>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>
                  </div>

                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>
                  </div>


               </div>

            </div>
          </div>

      </div>
   </div>
  </div>

  {% endblock content %}
 
