
{% extends 'base.html'%}

  {% block title %}<title>TestDay</title>{% endblock title %}


  {% block content %}
   <div class="page">
      <div class="main" style="text-align: center;">

         <!-- <h1 style="color:White;">Welcome to Test Page</h1> -->
         <!-- <h1>Welcome to Test Page</h1> -->
         <!-- {% for i in people %}

         <p>User name is : {{i.username}}</p>
         <p>Email is :{{i.email}}</p>
         <a class="btn btn-primary" href="/post-details/{{i.id}}" role="button">See More</a>
         

         {% endfor %}-->
         <!-- <h1>เลือกช่วงเวลา</h1> -->
          <div class="box">
            <div class="test2">
              <form action="{{ url_for('testday')}}" method="post">

                  <label for="formula13day">เลือกสูตร :</label>

                  <select id="formula" onchange="ddselect();">
                    {%for i in form%}
                    
                    <option value="{{i.FORMULA|e}}">{{i.FORMULA|e}}</option>
                    <!-- <option value="two">2.</option>
                    <option value="three">3.</option>
                    <option value="four">4.</option> -->
                    {% endfor %}
                   </select>
                   
                  <input type="text" id="txtvalue"/>

                  <script>
                    function ddselect()
                    {
                      var d = document.getElementById("formula");
                      var display = d.options[d.selectedIndex].text;
                      document.getElementById("txtvalue").value = display;
                    }
                  </script>

                <label for="atdat">เลือกช่วงเวลา :</label>
              
                <select id="shift" onchange="svselect();">
                  {% for s in shift %}
                  <option value="{{s.SHIFT|e}}">{{s.SHIFT|e}}</option>
                  {% endfor %}
                </select> 

                <input type="text" id="shiftvalue"/>

                <script>
                  function svselect()
                  {
                    var d = document.getElementById("shift");
                    var display = d.options[d.selectedIndex].text;
                    document.getElementById("shiftvalue").value = display;
                  }
                </script>

                <label for="atdat">เลือกวันที่ :</label>
                
                <input type="date" id="atday" name="atday" value={{minday}} min={{minday}} max={{maxday}}>
              
                <input type="submit">
              </form>
            </div>

            <div class="row">
               
               <!-- <div class="column" style="background-color:#aaa;"> -->
              <div class="column">
                  <h2>เครื่อง 1</h2>

                  <div class="column a">
                    <h3>Machine : 1</h3>
                    <img class="column img" src="/static/image/piglet.png"  alt="piglet">
                    <img class="column img" src="/static/image/pigmilk.png"  alt="pigmilk">
                  </div>

                  <!-- Performance -->
                  

                  <div class="column b" >
                    <h4>Steam</h4>

                    

                    <div class="column c" >
                      <p>Steam Consumtion</p>
                      <p>Pressure</p>

                    </div>

                    <div class="column c" >
                      <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                    </div>

                  </div>

                  <!-- Spare Part -->
                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    

                    <div class="column cd" >
                      <p>Die Aging : </p>
                      <p>Die press </p>
                      <p>Die Repair.</p>
                    </div>

                    <div class="column cd" >
                      <p>Die Aging : </p>
                      <p>Die press </p>
                      <p>Die Repair.</p>
                    </div>

                    <div class="column d" >
                      <img class="column img" src="/static/image/doggo.jpg"  alt="doggo">
                    </div>


                  </div>


               </div>
               
               
                <div class="column">
                  <h2>เครื่อง 2</h2>

                  <div class="column a">
                    <h3>Machine : 2</h3>
                    <img class="column img" src="/static/image/pigbig.png"  alt="pigbig">
                    <img class="column img" src="/static/image/chickmeat.png"  alt="chickmeat">
                  </div>

                  <div class="column b" >
                    <h4>Performance</h4>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                    <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
                  </div>

                  <div class="column b" >
                    <h4>Steam</h4>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>
                  </div>

                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>
                  </div>


               </div>


               <!-- <div class="column" style="background-color:#ccc;"> -->
                <div class="column">
                  <h2>เครื่อง 3</h2>

                  <div class="column a">
                    <h3>Machine : 3</h3>
                    <img class="column img" src="/static/image/pigbig.png"  alt="pigbig">
                    <img class="column img" src="/static/image/chickmeat.png"  alt="chickmeat">
                  </div>

                  <div class="column b" >
                    <h4>Performance</h4>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                    <!-- <img class="column img" src="/static/image/doggo.jpg"   alt="doggo"> -->
                  </div>

                  <div class="column b" >
                    <h4>Steam</h4>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>

                    <div class="column c" >
                      <p>Performance Cap.</br>19 ton/h </p>
                      <p>Electrical cons TG.</br>>14Kwh/t </p>
                      <p>Motor current.</br>Full load 420 Amp </p>
                      <p>% Load </p>
                    </div>
                  </div>

                  <div class="column b" >
                    <h4>Spare Part</h4>
                    
                    <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>

                      <div class="column c" >
                        <p>Performance Cap.</br>19 ton/h </p>
                        <p>Electrical cons TG.</br>>14Kwh/t </p>
                        <p>Motor current.</br>Full load 420 Amp </p>
                        <p>% Load </p>
                      </div>
                  </div>


               </div>

            </div>
          </div>

      </div>
   </div>
  </div>

  {% endblock content %}
 
